
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h3>
    <vc:registered-users title="Registered users"></vc:registered-users>
</h3>

<partial name="_HomePageStart" />

<p>Use this page to detail your site's privacy policy.</p>

@section Links {
    <li class="nav-item">
        <a class="nav-link text-dark" href="https://google.com">Google</a>
    </li>
}
